/* Soluzione qui */
@media screen and (max-width: 768px) {
    #topbar{
        display: flex;
        justify-content: left;
    }
    .recipe-origin {
        display: block;
        padding-left: 5px;
        
    }
    .recipe-name{
        display: flex;
        
    }
    .quick-notes ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .quick-notes li{
        padding-right: 5%;
        padding-left: 4%;
    }
    .social-networks button {
        padding-right: 8%;
        padding-left: 8%;
        
    }
    .ads{
        display: block;
    }

    
}
/* fine tablet media query */
/* inizio dextop mesia query */
@media screen and (max-width: 992px) {
    
    
    
}